* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    margin-left: 10px;
    margin-top: 15px;
}

.navbar .logo h1 {
    margin-left: 100px;
    font-size: 40px;
}

.navbar ul {
    display: flex;
    margin-left: 100vh;
    margin-top: 5px;
}

.navbar ul li {
    list-style: none;
    margin-left: 34px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.navbar ul li a:hover {
    color: red;
    transition: 0.3s;
}

.main {
    display: flex;
    margin-top: 30px;
}

.main-text {
    margin-left: 100px;
    margin-top: 142px;
}

.main-text h1 {
    color: #21243D;
    font-size: 67px;
}

.main-text p {
    color: #21243D;
    font-size: 20px;
    margin-top: 20px;
}

.main-text button {
    height: 47px;
    width: 207px;
    margin-top: 60px;
    background-color: #FF6464;
    color: white;
    border: none;
    cursor: pointer;
}

.image img {
    height: 340px;
    width: 340px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 58vh;
}
.image img:hover {
    border-radius: 40%;
    transition: 0.8s;
    filter: grayscale();
}

.middle {
    height: 376px;
    width: 100%;
    background-color: #EDF7FA;
    margin-top: 23vh;
}

.middle .middle-h3 h3 {
    color: #00A8CC;
    font-size: 19px;
    margin-left: 180vh;
    position: relative;
    top: 2vh;
}

.middle-main {
    display: flex;
    margin-left: 190px;
    margin-top: 19px;
}

.batterylife {
    background-color: white;
    height: 300px;
    width: 440px;
    border-radius: 6px;
}

.eyecaremode {
    background-color: white;
    margin-left: 36vh;
    height: 300px;
    width: 440px;
    border-radius: 6px;
}

.batterylife h2 {
    color: #21243D;
    margin-top: 10px;
    font-size: 35px;
    margin-left: 10px;
}

.batterylife h3 {
    color: #21243D;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 90px;
}

.batterylife span {
    color: #21243D;
    font-size: 20px;
    margin-left: 20px;

}

.batterylife p {
    color: #21243D;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 15px;
}
.eyecaremode h2 {
    color: #21243D;
    margin-top: 10px;
    font-size: 35px;
    margin-left: 10px;
}

.eyecaremode h3 {
    color: #21243D;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 90px;
}

.eyecaremode span {
    color: #21243D;
    font-size: 20px;
    margin-left: 20px;

}

.eyecaremode p {
    color: #21243D;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 15px;
}
.contents .content-h3 h3 {
    color: #21243D;
    font-size: 27px;
}
.contents {
    margin-left: 200px;
    margin-top: 20px;
}
.subbrand-img img {
    height: 280px;
    width: 380px;
    border-radius: 10px;
}
.subbrands {
    display: flex;
    margin-top: 60px;
}
.subbrand-text {
    margin-left: 70px;
}
.subbrand-text h2 {
    font-size: 38px;
    color: #21243D;
}
.subbrand-text h3 {
    font-size: 25px;
    color: #8695A4;
    margin-top: 30px;
    opacity: 90%;
}
 .subbrand-text p {
    color: #21243D;
    font-size: 20px;
    margin-top: 30px;
}
.charge-img img {
    height: 280px;
    width: 380px;
    border-radius: 10px;
}
.chargingtech {
    display: flex;
    margin-top: 60px;
}
.charge-text {
    margin-left: 70px;
}
.charge-text h2 {
    font-size: 38px;
    color: #21243D;
}
.charge-text h3 {
    font-size: 25px;
    color: #8695A4;
    margin-top: 30px;
    opacity: 90%;
}
 .charge-text p {
    color: #21243D;
    font-size: 20px;
    margin-top: 30px;
}



.perform-img img {
    height: 280px;
    width: 380px;
}
.bestperform {
    display: flex;
    margin-top: 60px;
}
.perform-text {
    margin-left: 70px;
}
.perform-text h2 {
    font-size: 38px;
    color: #21243D;
}
.perform-text h3 {
    font-size: 25px;
    color: #8695A4;
    margin-top: 30px;
    opacity: 90%;
}
 .perform-text p {
    color: #21243D;
    font-size: 20px;
    margin-top: 30px;
}
.contents-content .line {
    background-color: #E0E0E0;
    height: 1px;
    width: 90%;
    margin-top: 30px;
}
.footer {
    margin-top: 40px;
    margin-left: 82vh;
}
.footer-icons i {
    font-size: 30px;
    margin-left: 60px;
    margin-top: 50px;
}
.footer-icons a {
    text-decoration: none;
    color: black;
}
.footer-icons a:hover {
    color: red;
    transition: 0.3s;
}
.footer h4 {
    margin-top: 21px;
    margin-left: 29px;
    font-size: 24px;
}